html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: rgb(239, 239, 239);
    text-align: left;
    margin: 0 auto;
    max-width: 1000px;
    padding: 10px;
    word-break: break-word;
    font-family: 'Lato', sans-serif;
}

@media (max-width: 768px) {
    .body {
        margin: 5%;
    }
}

.header {
    margin: 0;
    display: grid;
    padding: 10px
}

.main {
    margin: 0;
    padding: 50px;
}